html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
    background: #A2C0A7 url("images/tartan.png");
}

#main {
    background-color: #FBE7D4;
    padding-bottom: 25px;
    border-radius: 0 0 6px 6px;

}

#main .row {
    margin-bottom: 15px;
}

.navbar-inverse {
    background-color: #5E2241;
    border-color: #5E2241;
}

.navbar-inverse .navbar-brand {
    color: #CEAEBF;
}

.navbar-inverse .btn {
    background-color: #CEAEBF;
    color: #5E2241;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #5E2241;
    color: #9d9d9d;
    text-align: center;
    padding: 15px;
}

.jumbotron {
    margin-top: 15px;
    padding-bottom: 25px;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 4px #FBE7D4;
    background: url("images/veggies-background.jpg") no-repeat;
    background-clip: border-box;
    background-size: cover;

}

.jumbotron small {
    color: #1F5829;
}

.jumbotron p {
    font-size: 1.3em;
    font-weight: bold;
}